<div class="row bumpPastTopbar">
  <a href="/create-post" class="button small">Create a Post</a>

  <div class="column callout small-12"
    <div ng-repeat="posting in postings">
      <div class="column small-3 medium-3 large-3 picture">
        <img ng-src="{{posting.imagelink}}" src="img/no-kitten.jpg" alt="Posting image"/>
      </div>

      <div class="column small-9 medium-9 large-9">
        <p>
          {{posting.byname}}
        </p>    
        <p>
          {{posting.title}}
        </p>
        <p>
          {{posting.content | limitTo: 100}}
        </p>
        <div>
            <a href="/read-post/{{posting._id}}" class="button small">Read post</a>
            <a href="/update-post/{{posting._id}}" class="button small">Update</a>
            <a href="" ng-click="deletePost(posting._id)" class="button small">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
