<div >  
  <table>
    <thead>
      <tr>
        <th><pre>Title        </pre></th>
        <th><pre>Content      </pre></th>
        <th><pre>             </pre></th>
        <th><pre>             </pre></th>
        <th><pre>             </pre></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="posting in postings">
        <td>{{posting.title}}</td>
        <td>{{posting.content}}</td>
        <td><a href="/read-post/{{posting._id}}">Read more</a></td>
        <td><a href="/update-post/{{posting._id}}">Update</a></td>
        <td><a href="" ng-click="deletePost(posting._id)">Delete</a></td>
      </tr>
    </tbody>
  </table>
</div>
