<div>

  <h3>Update a Post</h3>

  <form>
    <div>
      <div>
        Title 
        <div> 
          {{posting.title}} 
        </div>
        <div>
          <textarea name="textarea" ng-model="newtitle"></textarea>
        </div>
      </div>

      <div>
        Content
        <div>
          {{posting.content}}
        </div>
        <div>
          <textarea name="textarea" ng-model="newcontent"></textarea>
        </div>
      </div>

      <a href="" ng-click="updatePost()">Update Post</a>
    </div>
  </form>
</div>
